<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
	<head>
		<title>Secured Status</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 class="display-2">User&apos;s Secured Status</h1>
				</div>
			</div>
			<div class="row" sec:authorize="isAuthenticated()">
				<div class="col-md-12 text-center">
					<h3 class="text-success">User is currently logged in</h3>
				</div>
			</div>
			<div class="row" sec:authorize="!isAuthenticated()">
				<div class="col-md-12 text-center">
					<h3 class="text-danger">User is currently NOT logged in</h3>
				</div>
			</div>
			<div class="row mt-3" sec:authorize="isAuthenticated()">
				<div class="col-md-12 text-center">
					<h2 class="display-4">User&apos;s Available Role(s)</h2>
				</div>
			</div>
			<div class="row" sec:authorize="hasAuthority('USER')">
				<div class="col-md-12 text-center">
					<h4 class="text-secondary">USER</h4>
				</div>
			</div>
			<div class="row" sec:authorize="hasAuthority('ADMIN')">
				<div class="col-md-12 text-center">
					<h4 class="text-secondary">ADMIN</h4>
				</div>
			</div>
			<div class="row" sec:authorize="hasAuthority('ROOT')">
				<div class="col-md-12 text-center">
					<h4 class="text-secondary">ROOT</h4>
				</div>
			</div>
		</div>
	</body>
</html>